<a href="https://colab.research.google.com/github/cabamarcos/Grupo27_practica2/blob/main/Grupo27_practica2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Importación de librerías y datos

Hacemos los imports correspondientes

In [1]:
import pandas as pd
import numpy as np
import pickle

In [4]:
with open('attrition_available_27.pkl', 'rb') as archivo:
    datos = pickle.load(archivo)

print(datos)

           hrs  absences  JobInvolvement  PerformanceRating  \
1     7.315971      13.0             2.0                4.0
6     6.450877      17.0             3.0                4.0
13    8.871421      14.0             2.0                3.0
28         NaN       6.0             2.0                3.0
30    9.662808      11.0             2.0                3.0
...        ...       ...             ...                ...
4405  8.316921       6.0             3.0                3.0
4406  5.897197       NaN             2.0                3.0
4407       NaN      18.0             3.0                4.0
4408  9.187612       NaN             2.0                3.0
4409  6.511790      17.0             4.0                3.0

      EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance   Age  \
1                         3.0              2.0              4.0  31.0
6                         1.0              3.0              1.0   NaN
13                        1.0              2.0              2.0   NaN
28                        4.0              3.0              1.0  44.0
30                        1.0              2.0              3.0  26.0
...                       ...              ...              ...   ...
4405                      4.0              1.0              3.0  42.0
4406                      4.0              4.0              3.0  29.0
4407                      1.0              3.0              3.0  25.0
4408                      4.0              1.0              NaN  42.0
4409                      NaN              3.0              NaN   NaN

     Attrition     BusinessTravel  ... NumCompaniesWorked  Over18  \
1          Yes  Travel_Frequently  ...                0.0       Y
6          Yes      Travel_Rarely  ...                2.0       Y
13         Yes         Non-Travel  ...                NaN       Y
28         Yes  Travel_Frequently  ...                NaN       Y
30         Yes                NaN  ...                2.0     NaN
...        ...                ...  ...                ...     ...
4405        No      Travel_Rarely  ...                NaN       Y
4406        No      Travel_Rarely  ...                2.0       Y
4407        No      Travel_Rarely  ...                0.0       Y
4408        No      Travel_Rarely  ...                0.0       Y
4409        No      Travel_Rarely  ...                NaN       Y

      PercentSalaryHike StandardHours  StockOptionLevel  TotalWorkingYears  \
1                  23.0             8               NaN                6.0
6                  20.0             8               1.0                5.0
13                 11.0             8               2.0               10.0
28                 14.0             8               1.0               19.0
30                 11.0             8               0.0                NaN
...                 ...           ...               ...                ...
4405               17.0             8               1.0               10.0
4406               15.0             8               0.0                NaN
4407                NaN             8               0.0                NaN
4408               14.0             8               NaN               10.0
4409               12.0             8               NaN                NaN

     TrainingTimesLastYear  YearsAtCompany YearsSinceLastPromotion  \
1                      NaN             NaN                       1
6                      2.0             0.0                       0
13                     4.0            10.0                       9
28                     2.0             1.0                       0
30                     5.0             3.0                       0
...                    ...             ...                     ...
4405                   5.0             NaN                       0
4406                   2.0             3.0                       0
4407                   4.0             NaN                       1
4408                   2.0             9.0                       7
4409                   6.0            21.0                       3

     YearsWithCurrManager
1                     4.0
6                     0.0
13                    9.0
28                    0.0
30                    2.0
...                   ...
4405                  2.0
4406                  NaN
4407                  NaN
4408                  8.0
4409                  9.0

[4410 rows x 31 columns]

#2. EDA

Convertimos los datos en un dataframe

In [6]:
df = pd.DataFrame(datos)

Sacamos el número de instancias y el número de atributos

In [7]:
print("Número de instancias:", len(df))
print("Número de atributos:", len(df.columns))

Número de instancias: 4410
Número de atributos: 31

Vemos el tipo de datos de las instacias

In [8]:
print("Tipos de datos:")
print(df.dtypes)

Tipos de datos:
hrs                        float64
absences                   float64
JobInvolvement             float64
PerformanceRating          float64
EnvironmentSatisfaction    float64
JobSatisfaction            float64
WorkLifeBalance            float64
Age                        float64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome           float64
Education                  float64
EducationField              object
EmployeeCount              float64
EmployeeID                 float64
Gender                      object
JobLevel                   float64
JobRole                     object
MaritalStatus               object
MonthlyIncome              float64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike          float64
StandardHours                int64
StockOptionLevel           float64
TotalWorkingYears          float64
TrainingTimesLastYear      float64
YearsAtCompany             float64
YearsSinceLastPromotion      int64
YearsWithCurrManager       float64
dtype: object

Podemos ver que la mayoría de datos son float, pero también observamos objetos y números enteros